doctype html
html(lang="en")
	head
		include includes/head.pug
		script(src="/js/cohort.js") 
	body
		include includes/header.pug
		main
			div
				h2 #{cohort.name}
				table.m1-top
					thead
						tr
							th Student
							th Choice 1
							th Choice 2
							th Choice 3
							th Assigned Choice
							th Done Choosing
							th Project
							th Deferring
							th Pathway
							th Remove
					tbody
						each student in cohortStudents
							tr
								td #{student.name}
								td
									if student.choice1
										a(href="/projectproposals/" + student.choice1) #{student.choice1Title}
									else
										| Not yet picked
								td
									if student.choice2
										a(href="/projectproposals/" + student.choice2) #{student.choice2Title}
									else
										| Not yet picked
								td
									if student.choice3
										a(href="/projectproposals/" + student.choice3) #{student.choice3Title}
									else
										| Not yet picked
								td
									if student.assignedChoice
										a(href="/projectproposals/" + student.assignedChoice) #{student.assignedChoiceTitle}
									else
										a(href="/cohorts/" + cohort.id + "/students/" + student.studentId) Manually Assign 
								td #{student.doneChoosing ? "Yes" : "No"}
								td
									if student.projectId
										a(href="/projects/" + student.projectId) #{student.numStudents <= 1 ? "Individual" : "Group Of " + student.numStudents}
									else
										| Not yet created
								td #{student.deferring ? "Yes" : "No"}
								td #{student.pathway}
								td
									button Remove

					if cohortStudents.length == 0
						tr
							td(colspan="8") No students in this cohort
			div.m2-top
				h2 Add Students
				div.m1-top
					input#student-name-input(type="text", placeholder="Type a student name")
					#student-box
			.m2-top 
				h2 Add Deliverables 
				a(href="/Deliverable/new") Create New Deliverable 
				h4 Search 
				input#deliverable-name-input(type="text", placeholder="Type a deliverable name")
				#deliverable-box
				h3 current deliverables 
				table
					tr 
						th Name
						th Pathway 
						th Weighting 
						th Markscheme
						th Due Date 
						th Edit/Remove
					each deliverable in deliverables 
						tr
							td(data-deliverable-id=deliverable.deliverableId)
								a(href="/deliverables/"+deliverable.deliverableId) #{deliverable.deliverableName}
							td(data-pathway-id=deliverable.pathwayId)
								a(href="/pathways/"+deliverable.pathwayId)  #{deliverable.pathwayName}
							td(data-weight=deliverable.weighting) #{deliverable.weighting}
							td(data-markscheme-id=deliverable.markschemeId)
								a(href="/markshemes/"+deliverable.markschemeId) #{deliverable.markschemeName}
							td(data-date=deliverable.dueDate) #{deliverable.dueDate}
							td
								button(onclick="edit(this)") Edit
								button(onclick="remove(this)") Remove
			.m2-top
				h2 Assign Projects
				p.red-text WARNING: THIS ACTION IS NOT REVERSIBLE!
				a(href="/cohorts/" + cohort.id + "/assignprojects") Assign Projects

			.m2-top 
				h2 Create Projects
				a(href="/cohorts/" + cohort.id + "/createprojects") Create Projects