doctype html
html(lang="en")
	head
		include includes/head.pug
		script(src="/js/cohort.js") 
	body
		include includes/header.pug
		.container.m1-top.p1
			div
				h2 View Cohort - #{cohort.name}
				table.m1-top
					thead
						tr
							th Student
							th Choice 1
							th Choice 2
							th Choice 3
							th Assigned Choice
							th Done Choosing
							th Project
							th Deferring
							th Pathway
							th Remove
					tbody
						- let students = cohort.getStudents();
						- for(let i = 0; i < students.length; i++) {
						tr
							td #{students[i].student.name}
							td #{students[i].choice1 ? students[i].choice1 : "Not yet picked"}
							td #{students[i].choice2 ? students[i].choice2 : "Not yet picked"}
							td #{students[i].choice3 ? students[i].choice3 : "Not yet picked"}
							td
								a(href="/cohorts/" + cohort.id + "/students/" + students[i].student.id) Manually Assign 
							td #{students[i].doneChoosing ? "Yes" : "No"}
							td #{students[i].project ? students[i].project : "Not yet created"}
							td #{students[i].deferring ? "Yes" : "No"}
							td #{students[i].pathway}
							td
								button Remove
						- }

						- if(students.length == 0) {
						
						tr
							td(colspan="8") No students in this cohort
						
						- }
			div.m2-top
				h2 Add Students
				div.m1-top
					input#student-name-input(type="text", placeholder="Type a student name")
					#student-box


