doctype html
html(lang="en")
	head
		include includes/head.pug
		link(rel="stylesheet", href="/css/cohort_pathway_add-deliverable.css")
	body
		include includes/header.pug
		main
			h2 #{cohort.name} - #{pathway.name} - Add Deliverable
			
			form(method="post") 
				select(name="deliverableId")
					each deliverable in deliverables
						option(value=deliverable.id) #{deliverable.name}
				select(name="markschemeId")
					each markscheme in markschemes
						option(value=markscheme.id) #{markscheme.name}
				input(type="date", name="dueDate")
				input(type="number", placeholder="weight", min="0", name="weight")
				input(type="submit", value="Add Deliverable")