doctype html
html(lang="en")
	head
		include includes/head.pug
		link(rel="stylesheet", href="/css/marking.css")
		script(src="/js/marking.js") 
	body(data-submission-id = submission.id)
		include includes/header.pug
		main
			.split
				div
					.sticky
						h2 Marking
						p #{markscheme.name}

						table
							thead
								tr
									th Name
									th Mark 
									th Feedback
							tbody
								each part in markschemeParts
									tr.part-row(data-part-id=part.id)
										td #{part.name}
										td
											p
												input.mark-input(type="text")
												| /#{part.weight}
										td
											textarea

						button.m1-top#submit-marking-button Submit Marking

				div
					each submissionFile in submissionFiles
						iframe(src=submissionFile.url, frameborder="0")
