html(lang="en")
	head
		include includes/head.pug
		script(src="/js/pathway-projectproposals.js")
	body
		include includes/header.pug
		main
			h2 #{pathway.name}
		if !(choices.every(choice => (choice == null)))
			.container.white.bordered.flex-list.p1.m1-top
				h2 Choices
				br
				ul.draggable-list#draggable-list 
					each val in [0, 1, 2]
						li(data-index = val)
							span.number #{val + 1}
							if choices[val] != null
								.draggable(draggable="true")
									p.project-detail #{choices[val].title}
									p.project-detail 
										if choices[val].createdBy
											a(href="/users/" + choices[val].createdBy) #{choices[val].createdByName}
										else
											| Anonymous
									button(class = "removeSelectionButton", data-project-id = choices[val], data-choice-id = val+1) Remove
							else 
								.draggable(draggable="true")
									p.project-detail -
									p.project-detail -
									i(class="fas fa-grip-lines")
				a(href="#") Done
		.container.white.bordered.p1.m1-top
			table
				thead
					tr
						th Title
						th Supervised By
						th Select
				tbody
					each projectProposal in projectProposals
						tr
							td
								a(href="/projectproposals/" + projectProposal.id)  #{projectProposal.title}
							td
								if projectProposal.createdBy
									a(href="/users/" + projectProposal.createdBy) #{projectProposal.createdByName}
								else
									| Anonymous
							td
								button(class = "projectSelectButton", data-project-id = projectProposal.id) Select