doctype html
html(lang="en")
	head
		include includes/head.pug
		script(src="/js/pathway.js") 
	body
		include includes/header.pug
		.container.m1-top.p1
			h2 #{pathway.name}
			div
				div
					h3 See what projects are in this pathway
					div
						p Nothing here
				div
					h3.m1-bottom See what students are in this pathway
					.pathway-cohorts
						- for(let i = 0; i < cohorts.length; i++) {
						details.pathway-cohort
							summary #{cohorts[i].name}
							table.pathway-cohort-students
								thead
									tr
										th Name
										th Email
										th Campus Card Number
										th Link
								tbody
								- for(let j = 0; j < cohorts[i].students.length; j++) {
									tr.pathway-cohort-student
										td #{cohorts[i].students[j].user.name}
										td #{cohorts[i].students[j].user.email}
										td #{cohorts[i].students[j].user.campusCardNumber}
										td
											a(href="/students/" + cohorts[i].students[j].id) Go To Student
								- }
						- }
				div
					h3 See what moderators moderate this pathway
					div
						p Nothing here
